@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Valkyrie IMS</h1>
    <p>The host of your inventory needs.</p>
</div>

<div>
    <a href="/home"><h1>Error! TRY AGAIN!</h1></a>
</div>