@model ValkyrieIMS.Models.User
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Valkyrie IMS</h1>
    <p>The host of your inventory needs.</p>
</div>
<div>
    <ul>
        <li>
            <p>Go to Inventory Control Center: <a href="/Product/Index">View</a></p>
        </li>
        <li>
            <p>Go to Customers: <a href="/Customer/Index">View</a></p>
        </li>
        <li>
            <p>Go to Vendors: <a href="/Vendor/Index">View</a></p>
        </li>
    </ul>
    
</div>